.main {
  padding: 3vh 19.5vw;

  .main__loading,
  .main__error {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }

  @media (max-width: 1000px) {
    padding: 3vh 5vw;
  }
}