.history__link {
  text-decoration: none;

  .history-card {
    display: grid;
    grid-template-columns: 1fr repeat(4, 2fr);
    width: 100%;
    padding: 3px 0;
    border-bottom: 1px dotted rgb(218, 255, 247);

    &:hover {
      background-color: rgba(0, 255, 234, 0.250);
    }

    .history-card__field-title {
      text-decoration: none;
      color: rgb(0, 255, 200);
    }
  }
}