.header {
  height: 150px;
  background-color: rgb(255, 129, 40);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 300px;

  // .authBtn {
  //   width: 150px;
  //   text-align: center;
  //   padding: 10px;
  //   font-size: 2rem;
  //   border: 2px rgb(71, 194, 0) solid;
  //   color: rgb(71, 194, 0);
  //   background-color: rgba(71, 194, 0, 0.1);
  // }
}